body {
	background-color: #FFFF00;
}

@media only screen and (max-width: 650px) {
	body {
		background-color: lightblue;
	}
}
p.dotted {
	border-style: dotted;
	border-color: green;
	border-width: thin;
	border-radius: 25px;
	font-size: 4ch;
	margin: 30px 60px 90px 120px;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 50px;
	padding-left: 50px;
	display: inline-block;
	max-width: 10%;
}

* {
	margin-left: 10px;
}

p[target=foo] {
	border: 1px solid black;
	padding: 25px 10px 25px 10px;
	height: 200px;
	width: 150px;
	display: block;
	position: static;
}

a:hover {
	color: green;
}

a:active {
	color: #0000FF;
}

.container {
	display: flex;
	flex-direction: column;
	flex-grow: 4;
	flex-wrap: wrap;
}

.grid-container {
	display:grid;
	grid-template-columns: 40px 40px 40px 40px;
	grid-area: header;
	grid-gap: 100px;
	justify-self: start;
}

h2, h3 {
	color: orange;
	text-decoration: overline;
	text-align:center;
	min-width: 60%;
	position: relative;
	
}

li {
	list-style-type: circle;
}

li li {
	list-style-type: disc;
}

div > span {
	color: red;
}

strong ~ span {
	color: green;
}

li:first-of-type + li {
	color: orange;
}
